
body{
    margin:0;
    padding:0;
}
div.m{
    display:grid;
    grid-template:"h h h" 100vh ". m ." 1fr/1fr 900px 1fr;
}
header.m{
    position:relative;
    grid-area:h;
    background: rgb(0, 0, 0);
}
header.m .bierpongVid{
    height: 99%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

header.m .center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: yellow;
}

main{
    grid-area:m;
    background: green;
    height:50px;
}














#table{
    width: 75%;
    text-align: left;
    margin: 5vh 0 0 25%;

}
#tabe td, #table th{
    width: 500px;
    border: 1px solid white;
    padding: 8px;
}

#table th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color:crimson;
    color: white;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}
