html {
    scroll-behavior: smooth;
  }
body{
    margin:0;
    padding:0;
}
div.m{
    row-gap: 20px;
    display:grid;
    grid-template:"h h h" 100vh ". m ." 1fr/1fr 900px 1fr;
}
header.m{
    position:relative;
    grid-area:h;
    background: rgb(0, 0, 0);
}
header.m .bierpongVid{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}
.bierpongVid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header.m .center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: yellow;
}
header.m .center ul{
    position: relative;
    list-style: none;
}
header.m .center ul li{
    color: grey;
    opacity: 0.7;
    display: inline;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
header.m .center ul li a{
    text-decoration: none;
    color: black;
}

main{
    grid-area:m;
    height: auto;

    display: grid;
    row-gap: 30px;
    grid-template: "spielertab" auto "spieltabelle" auto "eintr" auto/ 1fr;
}

table.spielertabelle{
    grid-area: spielertab;
    width: 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
}

table.spieltabelle tr, table.spieltabelle th, table.spieltabelle td{
    border: 3px solid black;
    
}
table.spieltabelle{
    grid-area: spieltabelle;
    background: green;
    width: 1fr;
    text-align: left;
    border-collapse: collapse;
}

section.eintragen{
    grid-area: eintr;
    background: gray;
    width: 1fr;
    height: 500px;
}















#table{
    width: 75%;
    text-align: left;
    margin: 5vh 0 0 25%;

}
#tabe td, #table th{
    width: 500px;
    border: 1px solid white;
    padding: 8px;
}

#table th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color:crimson;
    color: white;
}


