<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Generate New Player</title>
    </head>

    <body>
        <h1>
            Generate New Player
        </h1>
        <form th:action="@{/bierpong/newPlayer}" th:object="${form}" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" th:field="*{name}" required>
            <br>
            <br>
            <label for="gamesCount">Current Games</label>
            <input type="number" gamesCount="gamesCount" min="0" th:field="*{gamesCount}" required>
            <br>
            <br>
            <label for="gamesWon">Current Wins</label>
            <input type="number" gamesWon="gamesWon" min="0" th:field="*{gamesWon}" required>
            <br>
            <br>
            <label for="gamesLoss">Current Loses</label>
            <input type="number" gamesLoss="gamesLoss" min="0" th:field="*{gamesLoss}" required>
            <br>
            <br>
            <input type="submit" value="Spieler erstellen">
        
        </form> 
    </body>