<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <title>Bierpong Statistiken</title>
    </head>

    <body>
        <div class=m>
            <header class=m>
                <div class=bierpongVid>
                    <video  th:src = "@{/videos/MostEpicBeerPongCommercialEver.mp4}" autoplay muted loop>
                </div>
                
                
                <div class=center>
                    <h1>Beerpongstats</h1>
                    <ul>
                        <li><a href=#spielertabelle>Spielertabelle</a></li>
                        <li><a href=#spieltabelle>Spieltabelle</a></li>
                        <li><a href=#eintragen>Ergebnisse eintragen</a></li>
                    </ul>
                </div>

            </header>
            
            <main>
                <table class ="spielertabelle" id=spielertabelle>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total Games</th>
                            <th>Wins</th>
                            <th>Loses</th>
                            <th>Winrate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${players}">
                            <td th:text="${p.name}"></td>
                            <td th:text="${p.calculateGamesCount()}"></td>
                            <td th:text="${p.calculateGamesWon()}"></td>
                            <td th:text="${p.calculateGamesLose()}"></td>
                            <td th:text="${p.calculateWinrate} + '%'"></td>
                        </tr>  
                    </tbody>
                    
                </table>


                <table class ="spieltabelle" id=spieltabelle>
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Winners</th>
                            <th>Losers</th>
                            <th>Remaining Cups</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="g : ${games}">
                            <td th:text="${g.date}"></td>
                            <td th:text="${g.getAllWinnerNames()}"></td>
                            <td th:text="${g.getAllLoserNames()}"></td>
                            <td th:text="${g.remainingCups}"></td>
                        </tr> 
                    </tbody>
                    
                </table>

                <section class=eintragen id=eintragen>
                    <form th:action="@{/bierpong/newPlayer}" th:object="${playerForm}" method="POST">
                        <label for="name">Name:</label>
                        <input type="text" name="name" th:field="*{name}" required>
                        <br>
                        <input type="submit" value="Create player">
                    
                    </form> 

                    <form action='#' th:action="@{/bierpong/newGame}" th:object="${gameForm}" method="POST">

                        <label for="winner">Select winner:</label>
                        <br>
                        <!-- <input type="hidden" name="winner" value="no" -->
                        <input th:each="p : ${players}" type="checkbox" th:field="*{winner}" th:text=${p.name} th:value=${p.name} >
                        <br>    
                        <label for="loser">Select loser:</label>
                        <br>
                        <input th:each="p : ${players}" type="checkbox" th:field="*{loser}" th:text=${p.name} th:value=${p.name}>
                        <br>
                        <label for="remainingCups">Remaining Cups:</label>
                        <br>
                        <input type="number" name="remainingCups" th:field="*{remainingCups}" required>
                        <br>           
                        <input type="submit" value="Add new Game">
                    
                    </form> 

                </section>

            </main>

        </div>



    </body>
</html>
