<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <title>Bierpong Statistiken</title>
    </head>

    <body>
        <h1>
            Bierpong
        </h1>
        <table id="table">
            <tr>
                <th id="th">Name</th>
                <th id="th">Total Games</th>
                <th id="th">Wins</th>
                <th id="th">Loses</th>
                <th id="th">Winrate</th>
            </tr>
            <tr th:each="p : ${players}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.gamesCount}"></td>
                <td th:text="${p.gamesWon}"></td>
                <td th:text="${p.gamesLoss}"></td>
                <td th:text="${p.calculateWinrate} + '%'"></td>
            </tr>  

        </table>
        <br>
        <br>

        <form action="#" th:action="@{/bierpong/newPlayer}">
            <input type="submit" value="New PLayer">
        </form>
        <br>
        <br>
        <form action="#" th:action="@{/bierpong/newGame}">
            <input type="submit" value="New Game">
        </form>
    </body>
</html>