<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
        <title>Neues Spiel eintragen</title>
    </head>

    <body>
        <h1>
            Neues Spiel eintragen
        </h1>
        <div>
            <table>
                <tr>
                    <th id="th">Name</th>
                    <th id="th">Win</th>
                    <th id="th">Lose</th>
                </tr>
                <tr th:each="p : ${players}">
                    <td th:text="${p.name}"></td>
                    <td>
                        <form th:action="@{/bierpong/increment/{pid}(pid=${p.id})}" th:method="POST">
                            <input type="submit" value="Win">
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/bierpong/decrement/{pid}(pid=${p.id})}" th:method="POST">
                            <input type="submit" value="Lose">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <form th:action="@{/bierpong/newGame}" th:method="POST">
            <input type="submit" value="Back">
        </form>

    </body>